<tr>
    <td class="wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <h2><b>Wachtwoord vergeten?</b></h2>
                    <p>Het gebeurt on allemaal wel eens. Gebruik onderstaande verificatiecode in de app om zo een nieuw wachtwoord in te stellen.</p>
                    <p>Verificatiecode</p>

                    <h1><b>{{ activationCode }}</b></h1>

                    <p>De code is 2 dagen geldig. Je kan altijd een nieuwe code aanvragen.</p>
                    <p>
                        Met vriendelijke groet,<br />
                        Team FinancialLease.nl
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.google.com/search?q=financiallease.nl+google+review&oq=financiallease.nl+google+review&aqs=chrome..69i57j33i160.3544j0j7&sourceid=chrome&ie=UTF-8#lrd=0x47c645d10e2921bf:0x200b4db2df4beeb6,1">
                        <img src="https://driver-seat-assets.s3.eu-central-1.amazonaws.com/reviews.gif"  alt=""/>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
